{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container">
    <form action="/changepassword" method="post">
        <div class="row">
          <h4>Password</h4>
           <div class="input-group input-group-icon">
            <input type="password" autocomplete="off" name = "oldpassword" style= "color:#7D3C98;" placeholder="Old Password"/>
            <div class="input-icon"><i class="fa fa-key"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input type="password" autocomplete="off" name = "newpassword" style= "color:#7D3C98;" placeholder="New Password"/>
            <div class="input-icon"><i class="fa fa-key"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input type="password" autocomplete="off" name = "confirmation" style= "color:#7D3C98;" placeholder="New Password(Again)"/>
            <div class="input-icon"><i class="fa fa-key"></i></div>
          </div>
        </div>

        <div class="row">
            <input class="but" type="submit" id="register" value="Change">
        </div>

    </form>


{% endblock %}