{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <main class="container p-5">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{row.type }}</td>
                        <td>{{row.category }}</td>
                        <td>${{row.price }}</td>
                        <td>{{row.date }}</td>
                    </tr>
                 {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}